<!DOCTYPE html>
<html>
    <head>
        <title>milobeckman.com</title>
        
        <link href="../stylesheets/default.css" rel="stylesheet" />
    </head>
    
    <body>
        <div class="banner">
            <a href="[[HOMELINK]]" class="banner_link">milobeckman.com</a>    
        </div>
        
        <div class="main">
            
            <div class="sidebar">
                sidebar!<br><br>sidebaresidebare<br><br><br><br><br><br>it's a sidebar kinda day today<br><br>sidebar<br><br>more
            </div>
            
            <div class="content">
                <div class="content_slice">
                    <div class="content_block">
                        <div class="content_title">
                            <a href="[[PERMALINK]]">[[TITLE]]</a>
                        </div>
                        
                        <div class="content_undertitle">
                            at [[TIMESTAMP]] &nbsp; | &nbsp; filed under [[TAGS]]
                        </div>
                        
                        <div class="content_main">
                            [[CONTENT]]
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
    
</html>